.to-top {
  font-size: 40px;
  position: fixed;
  right: 50px;
  bottom: 20px;
  color: $secondary-color;
  a {
    color: #95d5b2;
    @include mobile {
      display: none;
    }
  }
  &_img {
    display: none;
    @include mobile {
      display: block;
    }
  }
}
