// class invalid cho group lỗi
.form_group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  width: 380px;
  position: relative;
  input {
    height: 45px;
    width: 100%;
    border: 0.3px solid #000000;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
  }
  span {
    position: absolute;
    left: 0;
    margin-left: 5px;
    padding: 10px;
    padding-top: 14px;
    pointer-events: none;
    transition: 0.5s;
  }
  input:valid ~ span,
  input:focus ~ span {
    background: #ffffff;
    color: red;
    padding: 0 10px;
    font-size: 12px;
    transform: translate(10px, -10px);
  }
}
.form_title {
  h2 {
    text-align: center;
    font-size: 18px;
    font-family: "fw-light";
    margin-bottom: 30px;
  }
}
.form_group2 {
  gap: 0 100px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    margin: 0;
    width: 20px;
    height: 20px;
  }
  &_check {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      padding-left: 4px;
    }
  }
}
.no_gap {
  gap: 0 4px;
}
.btn_login {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  button {
    width: 330px;
    height: 42px;
    font-size: 18px;
    background: #ff7a00;
    color: #ffffff;
    border: none;
    border-radius: 8px;
  }
}
.line {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    position: absolute;
    background-color: #ffffff;
    padding: 0 6px;
    font-size: 12px;
    color: #000000;
    // transform: translateY(0px);
    z-index: 10;
  }
  &_bottom {
    width: 320px;
    border-bottom: 1px solid #ff7a00;
  }
}
.login_social {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.login_social {
  gap: 0 20px;
}
.form_register {
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 12px;
  color: #333333;
  a {
    font-style: italic;
    font-family: "fw-bold";
    color: black;
  }
}
